/*Reset*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
/*Layout*/

.container
{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.margin-15px
{
    margin: 15px;
}

.arial
{
    font-family: Arial, Helvetica, sans-serif;
}

.flex
{
    display: flex;
}

.flex-row
{
    flex-direction: row;
}

.flex-column
{
    flex-direction: column;
}

.flex-row-reverse
{
    flex-direction: row-reverse;
}

.space-between
{
    justify-content: space-between;
}

.space-around
{
    justify-content: space-around;
}

.align-center
{
    align-items: center;
}

.list-style-none
{
    list-style: none;
}

.w-70pc
{
    width: 70%;
}

.font-250pc
{
    font-size: 2.5em;
}

.font-200pc
{
    font-size: 2em;
}

.font-150pc
{
    font-size: 1.5em;
}

.w-15pc
{
    width: 15%;
}

.w-60pc
{
    width: 60%;
}

.w-20pc
{
    width: 20%;
}

.w-40pc
{
    width: 40%;
}

.w-30pc
{
    width: 30%;
}

.w-small
{
    width: calc(70% / 4);
}

.justify-end
{
    justify-content: flex-end;
}

.justify-center
{
    justify-content: center;
}

.py-30
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-center
{
    text-align: center;
}

.img-position
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bg-lightgray
{
    background-color: rgb(228, 228, 228);
}

.white-button
{
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
}

.black-button
{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
}

.blue-button
{
    display: inline-block;
    background-color: rgb(123, 150, 224);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
}

.color-blue
{
    color: rgb(123, 150, 224);
}

/*HEADER*/

.bg-blue-header
{
    background-color: rgb(62, 106, 238)
}

.color-white
{
    color: white;
}

.white-pseudobutton
{
    display: inline-block;
    background-color: white;
    color:black;
    border-radius: 20px;
    font-size: 100%;
    padding: 10px;
}

/*HERO SECTION*/
.hero-section
{
    background-image: url(../img/jumbo.png);
    padding: 100px 0;
    background-size: cover;
    color: white;
}

.hero-content
{
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

/*FOOTER*/
.bg-dark-gray
{
    background-color: rgb(43, 43, 43);
}

.img-small
{
    width: 5%;
}